body{
    background-color: antiquewhite;
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}
h4{
    color: red;
}
#camera{
    width: 500px;
    height: 400px;
    border: 1px solid black;
}
img{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
}
.coloum{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}
.footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    line-height: 3;
    text-align: center;
}